$blue: #383488;
$white: #ffffff;
.full-layout {
  .column {
    height: 100vh;
    &.sidebar {
      width: 6%;
      background-color: $blue;
    }
    &.content {
      width: 94%;
      background-color: $white;
    }
  }
}
