$blue: #383488;
$white: #ffffff;
.full-layout {
  .column {
    &.sidebar {
      width: 80px;
      background-color: $blue;
    }
    &.content {
      width: calc(100% - 80px);
      background-color: $white;
      min-height: 100vh;
    }
  }
}
