<div class="container-fluid">
  <div class="row full-layout">
    <div class="column sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="column content">
      <div [ngSwitch]="active">
        <ng-container *ngSwitchCase="'/dashboard'">
          <app-dashboard></app-dashboard>
        </ng-container>
        <ng-container *ngSwitchCase="'/details'">
          <app-details></app-details>
        </ng-container>
        <ng-container *ngSwitchCase="'/notifications'">
          <app-notifications></app-notifications>
        </ng-container>
        <ng-container *ngSwitchCase="'/settings'">
          <app-settings></app-settings>
        </ng-container>
      </div>
    </div>
  </div>
</div>
