<div class="flex-container">
  <div class="logo" routerLink="/dashboard">
    Run.
  </div>
  <div class="menu" routerLinkActive="active" routerLink="/dashboard">
    <i class="fas fa-bolt"></i>
  </div>
  <div class="menu" routerLinkActive="active" routerLink="/details">
    <i class="far fa-comment-alt"></i>
  </div>
  <div class="menu" routerLinkActive="active" routerLink="/notifications">
    <i class="fas fa-box "></i>
  </div>
  <div class="menu" routerLinkActive="active" routerLink="/settings">
    <i class="fas fa-cog "></i>
  </div>
</div>
