<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-9 left-section">
      <div class="row">
        <div class="col-md-12 header">
          <div class="row">
            <div class="col-md-9">
              <h3 class="salutation">
                Hello, Max <img src="assets/images/so-so.png">
              </h3>
              <p>Here is your daily statistics</p>
            </div>
            <div class="col-md-3 date">
              <div>
                23 August 2019 <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 status-card">
          <div class="row">
            <div class="col-md-4">
              <div class="c-card">
                <div class="left">
                  <div class="heading heart">Heart <i class="fas fa-heart"></i></div>
                  <div class="value">119 <span>bpm</span></div>
                </div>
                <div class="right">
                  <div class="percentage">82 %</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="c-card">
                <div class="left">
                  <div class="heading running">Running <i class="fas fa-running"></i></div>
                  <div class="value">3443 <span>m</span></div>
                </div>
                <div class="right">
                  <div class="percentage running">39 %</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="c-card">
                <div class="left">
                  <div class="heading calories">Calories <i class="fas fa-fire-alt"></i></div>
                  <div class="value">301 <span>kcal</span></div>
                </div>
                <div class="right">
                  <div class="percentage calories">68 %</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 chart">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-9">
                <h6>Activity</h6>
                <div style="display: block;height: 180px;">
                  <canvas id="chart" height="180" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                    [chartType]="barChartType">
                  </canvas>
                </div>
              </div>
              <div class="col-md-3">
                <div class="goal">
                  <h4>You done today's goals!</h4>
                  <div class="percentage">
                    100%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4 mb-2">
          <agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType'>
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-md-3 right-section">
      <div class="row">
        <div class="col-md-12 header">
          <div class="message unread">
            <span></span>
            <i class="fas fa-bell"></i>
          </div>
          <div class="message">
            <span></span>
            <i class="far fa-comment-alt"></i>
          </div>
          <div class="user">
            <span>Max Miles</span><img src="assets/images/user3.jpg">
          </div>
        </div>
        <div class="col-md-12 today">
          <div class="row">
            <div class="col-md-12 heading">
              <span>Today</span> <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="col-md-12">
              <app-day></app-day>
            </div>
          </div>
        </div>
        <div class="col-md-12 trainers">
          <div class="row">
            <div class="col-md-12 heading">
              <span>Top Trainers</span> <i class="fas fa-search"></i>
            </div>
            <div class="col-md-12">
              <app-trainers></app-trainers>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>